<h1>Photos</h1>

<section>

  <% @photos.each do |photo| %>
    <%= link_to photo_path(photo) do %>
      <%= image_tag photo.image.thumb %>
    <% end %>
  <% end %>

</section>

<p>
<%= link_to "New photo", new_photo_path %>
</p>


